*.class
.idea
*.iml


bigdata/.idea
bigdata/project-1-pv-uv-computing/target

bigdata/project-2-fraud-detection/flink-job/target

vertx-examplae/target

bigdata/project-4-recommend/recommend-backend/target